
  
  /* ESTILOS FORMULARIO REGISTRO */
  

 .burger-menu  {
    background-color: #1259c3;
    width: 6%;
    padding: 1.5%;
    /* margin: auto; */
    margin-top: 2vh;
    border-radius: 4px;
    margin-bottom: 2vh;
  }

.burger-menu i{
  color: #ebebeb;
  padding: 4px;
  
}


  .formulario{
    background-color: #ebebeb;
    padding: 2vw;
    margin:auto;
    font-family: "Roboto", sans-serif;
  }
  
  .field {
    width: 85vw;
    padding: 2vh;
    margin-bottom: 8vh;
    border-radius: 5px;
    border: none;
    font-family: "Roboto", sans-serif;
  
  }
  

  .clean {
    margin-top: 30px;
    width: 100vw;

  }
  .enviar {
    display: block;
    background-color: #1259c3;
    color: #ebebeb;  
    padding: 2vh;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;  
    
  }
  
  